## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [5]:
import os
import numpy as np
import pandas as pd

In [6]:
# 設定 data_path
dir_data = './data/'

In [11]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [12]:
app_train.shape

(307511, 122)

#### 列出所有欄位

In [13]:
app_train.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

#### 截取部分資料

In [15]:
app_train.iloc[250:275,3:8]

    CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL
250           M            N               N             0          135000.0
251           F            N               N             1          153000.0
252           F            N               Y             0          202500.0
253           F            N               Y             0          202500.0
254           F            N               Y             0          157500.0
255           M            Y               N             1          225000.0
256           M            N               Y             1          225000.0
257           M            Y               N             0          135000.0
258           F            N               Y             0          270000.0
259           F            N               Y             0          112500.0
260           M            N               N             0           63000.0
261           M            N               Y             1          112500.0
262           F            N               Y             0          180000.0
263           F            N               Y             0          292500.0
264           F            N               Y             0          225000.0
265           M            Y               Y             0          135000.0
266           M            N               Y             0          225000.0
267           M            N               N             0          157500.0
268           F            N               Y             0          157500.0
269           M            N               N             0          180000.0
270           F            N               Y             0           87750.0
271           M            N               N             2          292500.0
272           F            Y               Y             1          121500.0
273           F            N               Y             0           67500.0
274           F            N               Y             0          180000.0

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子