## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [3]:
import pandas as pd
import numpy as np

In [49]:
country = ['美國', '英國', '法國', '日本', '荷蘭']
population = (np.random.randint(1000, 10000, 5) * np.random.randint(1000, 10000, 5))
list_labels = ['country', 'population']
list_cols = [country, population]
zipped = list(zip(list_labels, list_cols))
frame1 = pd.DataFrame(dict(zipped))
frame1

  country  population
0      美國    56409727
1      英國    83594618
2      法國    70675097
3      日本    16314624
4      荷蘭     4336655

In [53]:
print("人口數最多的國家:", frame1['country'][frame1['population'].idxmax()])

人口數最多的國家: 英國